#Architecture{
	lat:
	long:
}

#Azrieli{
	lat:
	long:
}

#TechnologyTraining{
	lat:
	long:
} 
#Canal{
	lat:45.384126
	long:
} 
#ChildCare{
	lat:
	long:
} 
#Dunton{
	lat:
	long:
} 
#Fieldhouse{
	lat:
	long:
}  
#ArtGallery{
	lat:45.387235
	long:-75.698456
}  
#Frontenac{
	lat:45.386033
	long:-75.698349
}  
#Glengarry{
	lat:45.386688
	long:-75.69726
}  
#Grenville{
	lat:45.38642
	long:-75.69726
}  
#RussellHouse{
	lat:45.0386907
	long:-75.698445
}  
#HerzbergLab{
	lat:
	long:
}  
#IceHouse{
	lat:
	long:
}  
#LanarkHouse{
	lat:45.385709
	long:-75.0698209
} 
#LeedHouse{
	lat: 45.387996
	long:-75.698756
} 
#LifeSciencesResearch{
	lat:
	long:
} 
#Loeb{
	lat:
	long:
} 
#Mackenzie{
	lat:45.34997
	long:-75.697888
} 
#MacOdrum{
	lat:
	long:
} 
#Minto{
	lat:45.385098
	long:-75.696976
} 
#NesbittBiology{
	lat:
	long:
} 
#NationalWildlifeResearch{
	lat:
	long:
} 
#PhysicalRecreation{
	lat:
	long:
} 
#PrescottHouse{
	lat:45.385709
	long:-75.696997
} 
#RenfrewHouse{
	lat:45.386142
	long:-75.69719
} 
#ResidenceCommons{
	lat:45.387103
	long:-75.697217
} 
#RobertsonHall{
	lat:
	long:
} 
#SouthamHall{
	lat:
	long:
} 
#StPatrick’sBuilding{
	lat:45.37528
	long:-75.698187
} 
#Steacie{
	lat:
	long:
} 
#Stormont{
	lat:45.387604
	long:-75.697078
} 
$Dundas{
	lat:45.387917
	long:-75.697635
} 
#UniversityCentre{
	lat:
	long:
} 
#UniversityGym{
	lat:
	long:
} 
